services:
  db:
    container_name: db
    image: postgres:17.6
    environment:
      POSTGRES_DB: ambulance_rider
      POSTGRES_USER: ambulance_rider
      POSTGRES_PASSWORD: c906ca683541d864d013ee28c8b3958be6c1cfd2bc07329d6e99f6c6dab74bf5

    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ambulance-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ambulance_rider -d ambulance_rider"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    container_name: api
    build:
      context: ./AmbulanceRider.API
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - EnableSeeding=true
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=ambulance_rider;Username=ambulance_rider;Password=c906ca683541d864d013ee28c8b3958be6c1cfd2bc07329d6e99f6c6dab74bf5
    depends_on:
      db:
        condition: service_healthy
    networks:
      - ambulance-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/health || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 20s

  web:
    container_name: web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      api:
        condition: service_healthy
      db:
        condition: service_healthy
    networks:
      - ambulance-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 3
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    container_name: certbot
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - ambulance-network

networks:
  ambulance-network:
    driver: bridge

volumes:
  postgres_data:
